p, h1 {
    text-align: center;
}

p {
    color: red;
}

h1 {
    color: blue;
}

.green-paragraph {
    color: green;
}

.long-paragraph,
.long-paragraph-2 {
    background-color: aquamarine;
    opacity: 0.7;
}

.long-paragraph {
    opacity: 0.4;
}
body {
    background-image: url("pxfuel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

