main-container {
    padding: 16px;
    background-color: #000000;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    flex-direction: row;
}

.logo {
    background-color: #FF0000;
}

.container-b {
    background-color: #00FF00;
}

.container-c {
    background-color: #5f21d1;
}

.container-d {
    background-color: #b02d7b;
}

.container-e {
    background-color: #dee512;
}

.container-f {
    background-color: #ff9d00;
}